/*The following styles are for mobile*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}
/*hides the images not in view */
.mySlides {
  display: none;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
/*slide width is set to 100% for the mobile version */
.slide {
  width: 100%;
}
/* annimation for the slideshow*/
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*tablet view*/
@media screen and (min-width: 750px) {
  .slide {
    width: 90%; /*the width for the tablet view is 90%*/
  }
}
/*desktop view*/
@media screen and (min-width: 1200px) {
  .slide {
    width: 70%;/*The width for the desktop view is set to 70%*/
  }
}