/* GLOBAL AND MOBILE STYLES FIRST */

body {

  margin:0;
  padding:0;
  background: #FFF;
  text-align: center;
}

#menu{
  padding: 1em;
  background: #fff;
  display:inline-block;
}

.show-menu {
  display: block;
}
a {
  color: #000;
  text-decoration: none;
}

h1 {
  font-family: Impact;
}

.teams {
 
  position: relative;
  display: inline-block;
}

.teams img{
  display: block;
}
.teams .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.teams:hover .img-top{
  display: inline-block;
}

.map {

  height: 400px;
  width: 80%;
  margin: auto;

} 

#homepage {
  width: 25%;
}

/* Style the footer */
#footer {
  background-color: #414042;
  padding: 10px;
  text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
  background-color: #db2f2f;
  color: #fff;
}
tr:nth-child(odd) {
  background-color: #000000;
  color: #fff;
}
nav {
  background-color: #333;
  display: none;
  list-style: none;
}
nav a:hover {
   background: #777;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Century Gothic;
}

  .newscontainer{
    
    width: 45%;
    display: inline-block;
    width: 100%;
    background-color: #f1f1f1;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
  }
 


/* For Tablet size (medium size) */
@media screen and (min-width: 650px) {
  nav a {
    width: 44%;
    display: inline-block;
  }

  .newscontainer{
    
    width: 45%;
    display: inline-block;
  }

}



/*Second breakpoint desktop size (desktop size)*/

@media screen and (min-width: 1200px) {
  nav {
    display: block;
  }
  nav a {
    line-height: 3em;
    width: 13%;
  }
  #menu {
    display: none;
  }

 
  .teams {
    width: 25%;
  }

.newscontainer{
  
  width: 33%;
  display: inline-block;
  }


}