/* GLOBAL AND MOBILE STYLES FIRST */

body {

  margin:0;
  padding:0;
  background: #FFF;
  text-align: center;
}

#menu{
  padding: 1em;
  background: #fff;
  display:inline-block;
}

.show-menu {
  display: block;
}
a {
  color: #000;
  text-decoration: none;
}

h1 {
  font-family: Impact;
}

.teams {
 
  position: relative;
  display: inline-block;
}

.teams img{
  display: block;
}
.teams .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.teams:hover .img-top{
  display: inline-block;
}

.map {

  height: 400px;
  width: 80%;
  margin: auto;

} 

#homepage {
  width: 25%;
}

/* Style the footer */
#footer {
  background-color: #414042;
  padding: 10px;
  text-align: center;
  color:#fff;
}

#footer a {
  color: #fff;
}


nav {
  background-color: #333;
  display: none;
  list-style: none;
}
nav a:hover {
   background: #777;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Century Gothic;
}


  .newscontainer{
      display: inline-block;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: auto;
      width: 90%;
      background-color: #f1f1f1;
  }

main > input,
.tab-content {
  display: none;
  padding: 1em;
  clear: both;
}


label {
  display: block;
  box-sizing: border-box;
  float: left;
  width: 50%;
  color: #0c0c0c;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #000;
  line-height: 3em;
  border-right: 1px solid #444;
}

/* hides the tab text but leaves the icons visible: */

label span {
  color: #fff;
}

label:last-child {
  border-right: none;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2{
  display: block;
}
[id^="tab"]:checked + label {
  background: #ccc;
  color: #222;
}

[id^="tab"]:checked + label .fa {
  color: #090;
}

.tab_container section * {
  animation: fadeIn 0.7s ease-in-out;
}
.tab-content {
  background: #fff;
}

.fa {
  margin-right: 10px;
}

@keyframes fadeIn {
  0% { 
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }
}

.standings{
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: 70%; 
  border-collapse: collapse; 
  border-spacing: 0;
  position: relative;
  margin: auto;

}

.standings td,th{
  border: 1px solid transparent; /* No more visible border */
  height: 30px; 
  transition: all 0.3s;  /* Simple transition for hover effect */
  text-align: left;
}

.standings th{
  background: linear-gradient(#333 0%,#444 100%);
  color: #FFF; 
  font-weight: bold;
  height: 40px;
}

.standings td{
  background: #FAFAFA;
  cursor: pointer;
  
}

/* Cells in even rows (2,4,6...) are one color */        
.standings tr:nth-child(even) td { background: #bdb7b7; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */        
.standings tr:nth-child(odd) td { 
  background: #FEFEFE;
  color: black; }  

.standings tr td:hover { background: #666; color: #FFF; }  
/* Hover cell effect! */

/* Add border-radius to specific cells! */
.standings tr:first-child th:nth-child(1) { 
  border-radius: 5px 0 0 0; 
} 

.standings tr:first-child th:last-child { 
  border-radius: 0 5px 0 0; 
}

td .teams {
  display:none;
  width:250px;
  height:150px;  
}

td img { 
  display:none;
  width:150px;
  height:150px;  
}
 td:hover img { 
  position: absolute;
  z-index: 999;
  color: rgb(113, 157, 171);
  background: rgb(255, 255, 255);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
  box-shadow: #333 -4px 4px 16px 2px;
  -webkit-transition: opacity 100ms ease-in;
  -o-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;    
  display:block;
  
}

.social{
  width:40px;
  height:40px;
}

.headline span{ 
   
   position: relative;
   text-align: center;
   margin: auto; 
   width: 80%;
   color: white; 
   font: bold 19px/24px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 7px; 
}

.homepage{
  height: auto;
  width: 100%;
}

figure {
  margin:auto;
  width: 100%;
  background: #aaa;
  overflow: hidden;

}


figcaption {
  box-sizing: border-box;
  height: 4em;
  line-height: 1.2em;
  padding: .25em;
  transform: translateY(4em);
  background: #000;
  color: #fff;
  /* background: rgba( 255, 255, 255, 0 ); */
  opacity: 0;
  transition: all .5s;
}


figure:hover figcaption {
  transform: translateY(0em);
  /* background: rgba( 255, 255, 255, .78 ); */
  opacity: .78;
}


.slideshow {
  text-align: left;
  width: 100%; /* altering this breaks the centering??? */
  height: 250px;
  overflow: hidden;
  position: relative;
}



.slideshow img {
  position: absolute;
  width: 100%;
  height: auto;
  animation: round 16s infinite;
  opacity: 0;
}


@keyframes round {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}


img:nth-child(1) { animation-delay: 8s; }
img:nth-child(2) { animation-delay: 4s; }
img:nth-child(3) { animation-delay: 0s; }

 .standings{
    height: 200px;
  }

  .link{
    text-decoration: underline;
  }

/* For Tablet size (medium size) */
@media screen and (min-width: 750px) {
  nav a {
    width: 44%;
    display: inline-block;
  }

  .newscontainer{
    
    width: 45%;
  }

  .slideshow {
    height: 240px;
  }
    .newscontainer{
      display: inline-table;
      flex-direction: row;
      height: 380px;
      width: 48%;
  }




}


/*Second breakpoint desktop size (desktop size)*/

@media screen and (min-width: 1200px) {
  nav {
    display: block;
  }
  nav a {
    line-height: 3em;
    width: 13%;
  }
  #menu {
    display: none;
  }

 
  .teams {
    width: 25%;
  }

.newscontainer{
  
  width: 33%;
  height: 360px;
  }

  .maps{
  width: 45%;
  display: inline-block;
 }
 .headline span{ 
   font: bold 24px/45px Helvetica, Sans-Serif; 

 }
}