/* GLOBAL AND MOBILE STYLES FIRST */

body {

  margin:0;
  padding:0;
  background: #FFF;
  text-align: center;
}

nav {
  background-color: #333;
  display: none;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Century Gothic;
}

#menu{
  padding: 1em;
  background: #fff;
  display:inline-block;
}

.show-menu {
  display: block;
}
a {
  color: #000;
  text-decoration: none;
}

h1 {
  font-family: Impact;
}

section {
    width: 100%;
    margin: 1em 1% 1em 1%;
    background: #222;
    border-color: #666;
    font-size: 1.5em;
  }
section:hover {
    background: #666;
  }


/* For Tablet size (medium size) */

@media screen and (min-width: 750px) {
    nav a {
    width: 44%;
    display: inline-block;
  }
  nav a:hover {
    background: #777;
  }
	main {
    width: 90%;
    margin: 0 auto;
  }
  section {
    width: 44%;
    margin: 2%;
    display: inline-block;
    background: #444;
    color: #999;
  }
  section:hover {
    background: #666;
  }
}

/*Second breakpoint desktop size (desktop size)*/

@media screen and (min-width: 1024px) {
  nav {
    display: block;
  }
  nav a {
    line-height: 3em;
    width: 200px;
  }
  #menu {
    display: none;
  }

  main {
    max-width: 1000px;
  }
  section {
    width: 25%;
    margin: 1em 1% 1em 1%;
    background: #222;
    border-color: #666;
    font-size: 1.5em;
  }
  section:hover {
    background: #666;
  }
}