.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li .listdirver::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) .listdirver {
  left: 45px;
}
 
.timeline ul li.in-view::after {
  background: #c0c0c0;
}

.timeline ul li .listdirver {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

 
.timeline ul li:nth-child(odd) .listdirver {
  transform: translate3d(200px,0,0);
}
 
.timeline ul li:nth-child(even) .listdirver {
  transform: translate3d(-200px,0,0);
}
 
.timeline ul li.in-view .listdirver {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin-left: 20px;
  padding-top: 50px;
  background: #000;
}
   
.timeline ul li .listdirver {
  position: relative;
  bottom: 0;
  width: calc(100vw - 91px);
  padding: 15px;
  background: #000000;
}
   
.timeline ul li:nth-child(even) .listdirver {
  left: 45px;
}
  
.driverimage{
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  height: 150px;
  width: 150px;
}

.driverimage:hover {
  opacity: 0.5;
}

a {
  color: white;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 500px;
  width: 100%;
}

@-webkit-keyframes zoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.mercedes {
    border-collapse: collapse;
    width: 100%;
}

.mercedes th, td {
    text-align: left;
    padding: 8px;

}

.mercedes tr:nth-child(even) {
  background-color: #05a98c;
  color: #fff;
}
.mercedes tr:nth-child(odd) {
  background-color: #000000;
  color: #fff;
}


.ferrari {
    border-collapse: collapse;
    width: 100%;
}

.ferrari th, td {
    text-align: left;
    padding: 8px;
}

.ferrari tr:nth-child(even) {
  background-color: #db2f2f;
  color: #fff;
}
.ferrari tr:nth-child(odd) {
  background-color: #000000;
  color: #fff;
}

.redbull {
    border-collapse: collapse;
    width: 100%;
}

.redbull th, td {
    text-align: left;
    padding: 8px;
}

.redbull tr:nth-child(even) {
  background-color: #053aa9;
  color: #fff;
}
.redbull tr:nth-child(odd) {
  background-color: #000000;
  color: #fff;
}


.forceindia {
    border-collapse: collapse;
    width: 100%;
}

.forceindia th, td {
    text-align: left;
    padding: 8px;
}

.forceindia tr:nth-child(even) {
  background-color: #f40af6;
  color: #fff;
}
.forceindia tr:nth-child(odd) {
  background-color: #000000;
  color: #fff;
}


.reno {
    border-collapse: collapse;
    width: 100%;
}

.reno th, td {
    text-align: left;
    padding: 8px;
}

.reno tr:nth-child(even) {
  background-color: #f4f60a;
  color: #000000;
}
.reno tr:nth-child(odd) {
  background-color: #000000;
  color: #fff;
}

.williams {
    border-collapse: collapse;
    width: 100%;
}

.williams th, td {
    text-align: left;
    padding: 8px;
}

.williams tr:nth-child(even) {
  background-color: #1709a7;
  color: #fff;
}
.williams tr:nth-child(odd) {
  background-color: #000000;
  color: #fff;
}

.haas {
    border-collapse: collapse;
    width: 100%;
}

.haas th, td {
    text-align: left;
    padding: 8px;
}

.haas tr:nth-child(even) {
  background-color: #6d6d74;
  color: #fff;
}
.haas tr:nth-child(odd) {
  background-color: #000000;
  color: #fff;
}

.mclaren {
    border-collapse: collapse;
    width: 100%;
}

.mclaren th, td {
    text-align: left;
    padding: 8px;
}

.mclaren tr:nth-child(even) {
  background-color: #d8680a;
  color: #fff;
}
.mclaren tr:nth-child(odd) {
  background-color: #000000;
  color: #fff;
}

.sauber {
    border-collapse: collapse;
    width: 100%;
}

.sauber th, td {
    text-align: left;
    padding: 8px;
}

.sauber tr:nth-child(even) {
  background-color: #2695e7;
  color: #fff;
}
.sauber tr:nth-child(odd) {
  background-color: #000000;
  color: #fff;
}

.tororosso {
    border-collapse: collapse;
    width: 100%;
}

.tororosso th, td {
    text-align: left;
    padding: 8px;
}

.tororosso tr:nth-child(even) {
  background-color: #0c307c;
  color: #fff;
}
.tororosso tr:nth-child(odd) {
  background-color: #000000;
  color: #fff;
}

@media screen and (min-width: 750px)  {
  .timeline ul li .listdirver {
    width: 250px;
  }

  .timeline ul li:nth-child(even) .listdirver {
    left: -289px; /*250+45-6*/
  }
  .timeline ul li {
    margin: 0 auto;
  }
  .timeline ul li::after {
    background: #000;
    transition: background .5s ease-in-out;
  }
  /* Modal Content (image) */
  .modal-content {
    width: 80%;
  }

 
}

@media screen and (min-width: 1200px) {
  .timeline ul li .listdirver {
    width: 400px;
  }
  .timeline ul li:nth-child(even) .listdirver {
    left: -439px;
  }
}
